@page-margin: 12px;

.chatroom-container {
  height: 85vh;
}

.card {
  padding-top: @page-margin;
  padding-bottom: @page-margin;
  height: 100%;
}

.card-list {
  padding-bottom: 3px; // compensate for shadow
  margin-top: @page-margin;
}

.message-container {
  margin-bottom: 36px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.bottom {
  bottom: 0;
}

.auto-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
