@{
    ViewData["Title"] = "Developer Panel";
}

@section styles {
    <style>
        pre {
            color: #d4d4d4;
            background-color: #1e1e1e;
            border: 1px solid silver;
            padding: 10px 20px;
            margin: 0;
        }
        .json-key {
            color: #9fdefc;
        }
        .json-value {
            color: #3380d1;
        }
        .json-string {
            color: #cc8f7b;
        }
    </style>
}

@await Html.PartialAsync("_HeadingPartial", ViewData)

<div class="row">
    <div class="col-md-12">
        <pre><code id="universities"><!-- Injected by jQuery --></code></pre>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Dev/Index.js" asp-append-version="true"></script>
}
