@{
    ViewData["Title"] = "Sandbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_HeadingPartial", ViewData)

<div class="row" data-bind="with: chatData">
    <div class="col-md-3">
        <p>Connected clients:</p>
        <h1 style="text-align: center; font-size: 8rem" data-bind="text: connectedClients"></h1>
    </div>
    <div class="col-md-9">
        <div style="margin-bottom: 20px; max-height: 600px; overflow: auto;">
            <ul class="list-group" data-bind="foreach: messages">
                <li class="list-group-item" data-bind="text: $data"></li>
            </ul>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a message" data-bind="textInput: composedMessage, returnAction: send">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" data-bind="click: send">Send</button>
            </span>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Areas/Chat/Scripts/Sandbox/Sandbox.js" asp-append-version="true"></script>
}
