@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

@await Html.PartialAsync("_HeadingPartial", ViewData)

<div class="row">
    <div class="col-sm-12 col-md-7">
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
            <aside>You can never be too secure nor forgetful</aside>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="col-md-6"></label>
                <div class="col-md-12">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="col-md-6"></label>
                <div class="col-md-12">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-6"></label>
                <div class="col-md-12">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-primary">Change password</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
