@model ClaimUniversityViewModel
@{
    ViewData["Title"] = "Claim a university";
}

@await Html.PartialAsync("_HeadingPartial", ViewData)
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    textarea {
      min-height: 39px
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
      <form asp-controller="Manage" asp-action="ClaimUniversity" method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        <aside>A user may "claim" a university on Warbler if that user is the highest ranking technical staff member belonging to that university or is acting on their behalf. A claimed university may have custom authentication applied to verify the authenticity of connected students and professors.</aside>
        <hr/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="ClaimRequest.FirstName" class="col-md-6"></label>
          <div class="col-md-12">
            <input asp-for="ClaimRequest.FirstName" class="form-control"/>
            <span asp-validation-for="ClaimRequest.FirstName" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label asp-for="ClaimRequest.LastName" class="col-md-6"></label>
          <div class="col-md-12">
            <input asp-for="ClaimRequest.LastName" class="form-control"/>
            <span asp-validation-for="ClaimRequest.LastName" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label asp-for="ClaimRequest.UniversityId" class="col-md-6"></label>
          <div class="col-md-12">
            @Html.DropDownListFor(m => m.ClaimRequest.UniversityId, new SelectList(Model.UniversityChoices, "Id", "Name"), "--Select a university--", new {@class = "form-control"})
            <span asp-validation-for="ClaimRequest.UniversityId" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label asp-for="ClaimRequest.PositionTitle" class="col-md-6"></label>
          <div class="col-md-12">
            <input asp-for="ClaimRequest.PositionTitle" class="form-control"/>
            <span asp-validation-for="ClaimRequest.PositionTitle" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label asp-for="ClaimRequest.Comments" class="col-md-6"></label>
          <div class="col-md-12">
            <textarea asp-for="ClaimRequest.Comments" class="form-control" rows="3"></textarea>
            <span asp-validation-for="ClaimRequest.Comments" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <button class="btn waves-attach" type="submit">Submit claim</button>
          </div>
        </div>
      </form>
    </div>
</div>

