@model AuthConfig
@{
  ViewData["Title"] = $"Manage {Model.University.Name}";
}

@await Html.PartialAsync("_HeadingPartial")

<div class="row">
  <div class="col-sm-12 col-md-7">
    <form asp-controller="Manage" asp-action="University" method="post" class="form-horizontal">
      @Html.AntiForgeryToken()
      <aside>Here is where you can enable mandatory authentication through SAML 2.0. In this case, Warbler is the service provider and your university (or whichever endpoint you use) is the identity provider.</aside>
      <hr />
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="col-md-6"></label>
        <div class="col-md-12">
          <input asp-for="Name" class="form-control" />
          <span asp-validation-for="Name" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <label asp-for="SingleSignOnServiceUrl" class="col-md-6"></label>
        <div class="col-md-12">
          <input asp-for="SingleSignOnServiceUrl" class="form-control" />
          <span asp-validation-for="SingleSignOnServiceUrl" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <label asp-for="SingleLogoutServiceUrl" class="col-md-6"></label>
        <div class="col-md-12">
          <input asp-for="SingleLogoutServiceUrl" class="form-control" />
          <span asp-validation-for="SingleLogoutServiceUrl" class="text-danger"></span>
        </div>
      </div>
      @Html.HiddenFor(m => m.UniversityId)
      <input type="hidden" value="@Model.Id" name="Id" /> 
      <div class="form-group">
        <div class="col-md-12">
          <button class="btn waves-attach" type="submit">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
