@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@await Html.PartialAsync("_HeadingPartial", ViewData)

<div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-sm-12">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            @Html.AntiForgeryToken()
            <aside>Create a new account.</aside>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-sm-12"></label>
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="col-sm-12"></label>
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-sm-12"></label>
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-sm-12"></label>
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <button type="submit" class="btn btn-outline-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
