@{
    ViewData["Title"] = "Select a university";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .list-group-item.active {
            background-color: #a757b5;
        }
    </style>
}

@await Html.PartialAsync("_HeadingPartial", ViewData)

<div class="row">
    <div class="col-md-12" >
        <div class="list-group" data-bind="foreach: universities">
            <a href="#"
               class="list-group-item list-group-item-action flex-column align-items-start active"
               @*data-bind="click: $parent.onSelection.bind($data)"*@> <!-- TODO: revert -->
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" data-bind="text: name"></h5>
                </div>
                <small data-bind="text: vicinity"></small>
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Areas/Chat/Scripts/Chat/Proximity.js" asp-append-version="true"></script>
}
