<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Warbler</title>

    <environment names="Development,Staging,Production">
        <!-- TODO: Split these up -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand" href="#">Warbler</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Proposal">Proposal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sandbox">Sandbox</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - Warbler</p>
    </footer>
</div>

<environment names="Development,Staging,Production">
    <!-- TODO: Split these up -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="lib/tether/dist/js/tether.min.js"></script> <!-- Bootstrap dependency -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
