@{
    ViewData["Title"] = "Documents";
}

@await Html.PartialAsync("_HeadingPartial", ViewData)

<div class="row" style="margin-top: 5px; margin-bottom: 5px;">
  <div class="col-sm-12">
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Proposal</h4>
        <a href="https://goo.gl/zHgeCE" class="card-link">Plan</a>
        <a href="https://goo.gl/MujRQB" class="card-link">Presentation</a>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Milestone 01</h4>                
        <a href="https://goo.gl/1aaxCx" class="card-link">Progress Evaluation</a>
        <a href="https://goo.gl/sbLJiH" class="card-link">Presentation</a>
        <a href="https://goo.gl/93E4hh" class="card-link">Design</a>
        <a href="https://goo.gl/Nt10Cg" class="card-link">Requirements</a>
        <a href="https://goo.gl/5CyFOt" class="card-link">Test</a>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Milestone 02</h4>
        <a href="https://goo.gl/MMWLfO" class="card-link">Progress Evaluation</a>
        <a href="https://goo.gl/PviKqP" class="card-link">Presentation</a>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Milestone 03</h4>
        <a href="https://goo.gl/t392xe" class="card-link">Progress Evaluation</a>
        <a href="https://goo.gl/kAjpZN" class="card-link">Presentation</a>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Milestone 04</h4>
        <a href="https://goo.gl/tgxHdm" class="card-link">Progress Evaluation</a>
        <a href="https://goo.gl/LzASNf" class="card-link">Presentation</a>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Milestone 05</h4>
        <a href="https://goo.gl/fhP3XZ" class="card-link">Progress Evaluation</a>
        <a href="https://goo.gl/EyovQe" class="card-link">Presentation</a>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Milestone 06</h4>
        <a href="https://goo.gl/TbC6J3" class="card-link">Progress Evaluation</a>
        <a href="https://goo.gl/gsEmHM" class="card-link">Presentation</a>
        <a href="https://goo.gl/SMZExQ" class="card-link">Showcase Poster</a>
      </div>
    </div>
  </div>
</div>
