@{
    ViewData["Title"] = "Documents";
}

<div class="row" style="margin-top: 15px; margin-bottom: 5px;">
    <div class="col-md-12">
        <h3>First Semester @ViewData["Title"]</h3>
    </div>
</div>

<div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-sm-12">
        <table class="table table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <th>Deadline</th>
                    <th>Deliverables</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Proposal</td>
                    <td>
                        <ul>
                            <li><a href="https://goo.gl/zHgeCE">Plan</a></li>
                            <li><a href="https://goo.gl/MujRQB">Presentation</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Milestone 1</td>
                    <td>
                        <ul>
                            <li><a href="https://goo.gl/1aaxCx">Progress Evaluation</a></li>
                            <li><a href="https://goo.gl/sbLJiH">Presentation</a></li>
                            <li><a href="https://goo.gl/93E4hh">Design</a></li>
                            <li><a href="https://goo.gl/Nt10Cg">Requirements</a></li>
                            <li><a href="https://goo.gl/5CyFOt">Test</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Milestone 2</td>
                    <td>
                        <ul>
                            <li><a href="https://goo.gl/MMWLfO">Progress Evaluation</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
