@{
    ViewData["Title"] = "Warbler";
}

<div class ="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center">Warbler</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 style="text-align: center">What is Warbler?</h2>
            <p>Our goal is to provide software-as-a-service that allows any university student in any region to connect with other students. We will accomplish this with chatrooms specifically tied to his/her university -- all with absolutely no manual setup or maintenance required by the student nor the university</p>
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center">Team Members</h2>
            <div class="row" style="text-align: center">
                <div class="col-md-6">
                    Borja Canseco<br/>
                    Billy Harris<br/>
                    Waylon Hudson<br/>
                    Winter Yang<br/>
                </div>
                <div class="col-md-6">
                    bcanseco2014@my.fit.edu<br />
                    harrisw2014@my.fit.edu<br />
                    whudson2014@my.fit.edu<br />
                    xiaohan2014@my.fit.edu<br />
                </div>
            </div>
            <h2 style="text-align: center">Faculty Sponsor</h2>
            <div class="row" style="text-align: center">
                <div class="col-md-6">
                    Walter P. Bond, PhD
                </div>
                <div class="col-md-6">
                    pbond@fit.edu
                </div>
            </div>
        </div>
    </div>
</div>