@{
    ViewData["Title"] = "Proposal";
}

<div class="row" style="margin-top: 15px; margin-bottom: 5px;">
    <div class="col-md-12">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-md-12">
        <div style="margin-bottom: 10px">
            Our slides are below. You may also view our plan <a href="https://docs.google.com/a/my.fit.edu/document/d/1sI30sI7Tc-dDLjSPRpoyZ8TNHKps2WMq-_Ms8px5IW0/">here</a>.
        </div>
        <iframe src="https://docs.google.com/presentation/d/1hCkEEnyVWJVIdqm4oqyReXmh_LgqeLIz1-PyJjkdMgw/embed?start=false&loop=false&delayms=5000"
                width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</div>
