@{
    ViewData["Title"] = "Slides";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <iframe src="https://docs.google.com/presentation/d/1hCkEEnyVWJVIdqm4oqyReXmh_LgqeLIz1-PyJjkdMgw/embed?start=false&loop=false&delayms=5000" 
                width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</div>
