@{
    ViewData["Title"] = "Chat";
}

@section styles {
    <link rel="stylesheet" href="~/Styles/Chat.css" />
}

@*@await Html.PartialAsync("_HeadingPartial", ViewData)*@

@* Old Sandbox Code *@
@*<div class="row">
        <div class="col-md-3">
            <p>Connected clients:</p>
            <h1 style="text-align: center; font-size: 8rem" data-bind="text: connectedClients"></h1>
        </div>
        <div class="col-md-9">
            <div style="margin-bottom: 20px; max-height: 600px; overflow: auto;">
                <ul class="list-group" data-bind="foreach: messages">
                    <li class="list-group-item" data-bind="text: $data"></li>
                </ul>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter a message" data-bind="textInput: composedMessage, returnAction: send">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" data-bind="click: send">Send</button>
                </span>
            </div>
        </div>
    </div>*@

<div class="row" style="height: 85vh; margin: auto">
    <div class="col-md-2 channelBrowserDiv">
        <div class="card channelBrowserCard">
            <div class="card-block">
                <h4 class="card-title">Channels</h4>
                <div class="list-group" data-bind="foreach: visibleChannels">
                    <button type="button" class="list-group-item list-group-item-action" data-bind="text: $data.name"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 channelContentDiv">
    @*<div class="col-md-7 channelContentDiv" data-bind="with: chatData">*@
        <div class="card channelContentCard">
            <div class="card-block">
                <div style="margin-bottom: 20px; max-height: 600px; overflow: auto;">
                    <ul class="list-group" data-bind="foreach: currentChannel() ? currentChannel().messages() : []">
                        <li class="list-group-item" data-bind="text: $data"></li>
                    </ul>
                </div>
                <div class="input-group textInput">
                    <input type="text" class="form-control" placeholder="Enter a message" data-bind="textInput: composedMessage, returnAction: sendMessage">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" data-bind="click: sendMessage">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 userBrowserDiv">
        <div class="card userBrowserCard">
            <div class="card-block">
                <h4 class="card-title">Users</h4>
                <ul class="list-group">
                    <li class="list-group-item userButton">
                        <img class="userImage" src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" />
                        <p>User01</p>
                    </li>
                    <li class="list-group-item">
                        <img class="userImage" src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" />
                        <p>User02</p>
                    </li>
                    <li class="list-group-item">
                        <img class="userImage" src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" />
                        <p>User03</p>
                    </li>
                    <li class="list-group-item">
                        <img class="userImage" src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" />
                        <p>User04</p>
                    </li>
                    <li class="list-group-item">
                        <img class="userImage" src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" />
                        <p>User05</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Chat/Chat.js?@DateTime.Now.Ticks"></script>
}
