@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout-fluid.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Styles/Chat.css" />
}


<div class="row" style="height: 85vh; margin: auto">
    <div class="col-md-2 channelBrowserDiv">
        <div class="card channelBrowserCard">
            <div class="card-block" style="overflow: auto">
                <h4 class="card-title">Channels</h4>
                <div class="list-group" data-bind="foreach: visibleChannels() ? visibleChannels() : []">
                    <button type="button" class="list-group-item list-group-item-action" data-bind="text: $data.name, click: $parent.setChannel($data)"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 channelContentDiv">
        <div class="card channelContentCard">
            <div class="card-block" style="overflow: auto">
                <div style="margin-bottom: 20px; max-height: 600px; overflow: auto;">
                    <ul class="list-group" data-bind="foreach: currentChannel() ? currentChannel().messages() : []">
                        <li class="list-group-item" data-bind="text: $data"></li>
                    </ul>
                </div>
                <div class="input-group textInput">
                    <input type="text" class="form-control" placeholder="Enter a message" data-bind="textInput: composedMessage, returnAction: sendMessage">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" data-bind="click: sendMessage">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 userBrowserDiv">
        <div class="card userBrowserCard">
            <div class="card-block" style="overflow: auto">
                <h4 class="card-title">Users</h4>
                <div class="list-group" data-bind="foreach: currentChannel() ? currentChannel().users() : []">
                    <div class="list-group-item userButton">
                        <img class="userImage" src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" />
                        <p data-bind="text: $data.userName"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Chat/Chat.js?@DateTime.Now.Ticks"></script>
}
