@{
    ViewData["Title"] = "Developer Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_HeadingPartial", ViewData)

<div class="row">
    <div class="col-md-12">
        <pre data-bind="text: universities"></pre>
    </div>
</div>

@section scripts {
    <script src="~/Areas/Dev/Scripts/Dev/Index.js" asp-append-version="true"></script>
}